tqdm
numpy==1.23.1
matplotlib
scipy
chumpy
tensorboard
fvcore
iopath
plyfile
tyro
dearpygui
roma
git+https://github.com/NVlabs/nvdiffrast
#git+https://github.com/facebookresearch/pytorch3d.git
submodules/diff-gaussian-rasterization
submodules/simple-knn
# lightning
# omegaconf==2.3.0
# jaxtyping
# diffusers[torch]==0.19.3
# transformers
# jax[cuda12_pip]==0.4.23
# libigl==2.5.0
# xatlas==0.0.8
# trimesh[easy]==4.0.5
# networkx==3.1
# pysdf==0.1.9
# git+https://github.com/NVlabs/tiny-cuda-nn/@212104156403bd87616c1a4f73a1c5f2c2e172a9#subdirectory=bindings/torch
ninja